<hr/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Register Form
        </div>
        <div class="panel-body">
            <form #form="ngForm" (submit)="submitForm(form)">
                <div class="form-group" [class.has-error]="firstname.invalid && firstname.touched">
                    <label for="fname" class="control-label">First Name</label>
                    <input class="form-control" type="text" id="fname"
                    name="name" required
                    [(ngModel)]="myEmployee.name"
                    #firstname="ngModel"
                    />
                    <div class="alert alert-danger" *ngIf="firstname.invalid  && firstname.touched">
                        FirstName is required
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6" [class.has-error]="mail.invalid && mail.dirty">
                        <label for="email" class="control-label">Email</label>
                        <input class="form-control" type="text" id="email"
                        name="email" [(ngModel)]="myEmployee.email"
                        pattern="^([a-zA-Z0-9]+)@([a-zA-Z0-9]+)\.([a-zA-Z]{2,5})$"
                        #mail="ngModel"
                        />
                        <div class="alert alert-danger" *ngIf="mail.invalid  && mail.dirty">
                            Please Enter Valid Email like a@a.com
                        </div>
                    </div>
                    <div class="form-group col-md-6"  [class.has-error]="pwd.invalid && pwd.dirty">
                        <label for="password" class="control-label">Password</label>
                        <input class="form-control" type="password" id="password"
                        name="password" [(ngModel)]="myEmployee.password" #pwd="ngModel"
                        minlength="8"
                        />
                        <div class="alert alert-danger" *ngIf="pwd.invalid  && pwd.dirty">
                            Min length of password is 8
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6"  [class.has-error]="phn.invalid && phn.dirty">
                    <label for="phone" class="control-label">Phone</label>
                    <input class="form-control" type="text" id="phone"
                    name="phone" [(ngModel)]="myEmployee.phone" #phn="ngModel"
                    minlength="10" 
                    />
                    <div class="alert alert-danger" *ngIf="phn.invalid  && phn.dirty">
                        Min length of password is 8
                    </div>
                </div>
                <button class="btn btn-success" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>