<div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide style="width:200px">
      <div class="card" id="first">
        <img src="https://i.ibb.co/Zc2vYBP/989e52b7acbe.jpg" alt="clothes"/>
        <div>
            <p>Color Block Men Black Track Pants</p>
            <span>Min 77% Off</span>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide style="width:200px">
      <div class="card" id="second">
        <img src="https://i.ibb.co/bNRPLZv/2c7fd28b6ae0.jpg" alt="clothes"/>
        <div>
            <p>Color Block Men Black Track Pants</p>
            <span>Min 77% Off</span>
        </div>
    </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="card" id="third">
        <img src="https://i.ibb.co/rbm9mZ3/af7ea238d868.jpg" alt="clothes"/>
        <div>
            <p>Color Block Men Black Track Pants</p>
            <span>Min 77% Off</span>
        </div>
    </div>
    </ng-template> 
    <ng-template carouselSlide>
      <div class="card" id="fourth">
        <img src="https://i.ibb.co/b2G2Vm4/c06bbea9e94b.jpg" alt="clothes"/>
        <div>
            <p>Color Block Men Black Track Pants</p>
            <span>Min 77% Off</span>
        </div>
    </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="card" id="fifth">
        <img src="https://i.ibb.co/Rypw1V4/a6723ff70f97.jpg" alt="clothes"/>
        <div>
            <p>Color Block Men Black Track Pants</p>
            <span>Min 77% Off</span>
        </div>
    </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="card" id="sixth">
        <img src="https://i.ibb.co/XSP0kds/fd8688442c86.jpg" alt="clothes"/>
        <div>
            <p>Color Block Men Black Track Pants</p>
            <span>Min 77% Off</span>
        </div>
    </div>

    </ng-template>  
    <ng-template carouselSlide>
      <div class="card" id="fifth">
        <img src="https://i.ibb.co/Rypw1V4/a6723ff70f97.jpg" alt="clothes"/>
        <div>
            <p>Color Block Men Black Track Pants</p>
            <span>Min 77% Off</span>
        </div>
    </div>
    </ng-template>  
    <ng-template carouselSlide >
      <div class="card" id="sixth">
        <img src="https://i.ibb.co/XSP0kds/fd8688442c86.jpg" alt="clothes"/>
        <div>
            <p>Color Block Men Black Track Pants</p>
            <span>Min 77% Off</span>
        </div>
    </div>
    </ng-template> 
    <ng-template carouselSlide>
      <div class="card" id="fourth">
        <img src="https://i.ibb.co/b2G2Vm4/c06bbea9e94b.jpg" alt="clothes"/>
        <div>
            <p>Color Block Men Black Track Pants</p>
            <span>Min 77% Off</span>
        </div>
    </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="card" id="fifth">
        <img src="https://i.ibb.co/Rypw1V4/a6723ff70f97.jpg" alt="clothes"/>
        <div>
            <p>Color Block Men Black Track Pants</p>
            <span>Min 77% Off</span>
        </div>
    </div>
    </ng-template>  
     
  </owl-carousel-o>
  <div>Some tags after</div>