<header>
    <div id="brand">
        Developer Funnel
        <button [routerLink]="['/home']" class="btn btn-info" id="homebtn">Home</button>
    </div>
    <div id="social">
        <div *ngIf='token == ""'>
            <a class="btn btn-success" [routerLink]="['/login']">
                <span class="glyphicon glyphicon-log-in"></span>
                Login
            </a> &nbsp;
            <a class="btn btn-warning" [routerLink]="['/register']">
                <span class="glyphicon glyphicon-user"></span>
                Regsiter
            </a>
        </div>
        <div *ngIf='token !== ""'>
            <a class="btn btn-success" [routerLink]="['/login']">
                <span class="glyphicon glyphicon-user"></span>
                 Hi {{userInfo.name}}
            </a> &nbsp;
            <a class="btn btn-danger" (click)="logoutUser()">
                <span class="glyphicon glyphicon-log-out"></span>
                Logout
            </a>
        </div>
    </div> 
</header>