<div id="mainContent">
    <div class="imgDiv">
        <img [src]="details[0].restaurant_thumb" [alt]="details[0].restaurant_name"/>
    </div>
    <div class="contentDiv">
        <h1>{{details[0].restaurant_name}}</h1>
        <span>231 Customer Rating {{details[0].rating_text}}</span>
        <h3><del>Old Price: 220</del></h3>
        <h3>New Price {{details[0].cost}}</h3>
        <h3>Best Taste of Fresh Chai with Samosa At your Door or DineIn</h3>
        <div class="feature_container">
            <div class="feature">
                <img src="https://i.ibb.co/wJvrhYg/veg.png" alt="veg" class="imgIcon"/>
                <p>Pure Veg</p>
            </div>
            <div class="feature">
                <img src="https://i.ibb.co/mD3jpgc/sentizied.png" alt="veg" class="imgIcon"/>
                <p>Fully Senatized</p>
            </div>
            <div class="feature">
                <img src="https://i.ibb.co/kHrm3Mh/delivery.png" alt="veg" class="imgIcon"/>
                <p>Free Delivery</p>
            </div>
        </div>
        <h2>Available</h2>
        <div>
            <a class="btn btn-danger" [routerLink]="['/listing',mealId]">Back</a>
            &nbsp;
            <button [routerLink]="['/order',details[0].restaurant_name]" class="btn btn-success">Checkout</button>
        </div>
        <div class="deal">
            <h1>Deals of the Day</h1>
            <hr/>
            <div class="owl-carousel owl-theme">
                <div class="card" id="first">
                    <img src="https://i.ibb.co/Zc2vYBP/989e52b7acbe.jpg" alt="clothes"/>
                    <div>
                        <p>Color Block Men Black Track Pants</p>
                        <span>Min 77% Off</span>
                    </div>
                </div>
                <div class="card" id="second">
                    <img src="https://i.ibb.co/bNRPLZv/2c7fd28b6ae0.jpg" alt="clothes"/>
                    <div>
                        <p>Color Block Men Black Track Pants</p>
                        <span>Min 77% Off</span>
                    </div>
                </div>
                <div class="card" id="third">
                    <img src="https://i.ibb.co/rbm9mZ3/af7ea238d868.jpg" alt="clothes"/>
                    <div>
                        <p>Color Block Men Black Track Pants</p>
                        <span>Min 77% Off</span>
                    </div>
                </div>
                <div class="card" id="fourth">
                    <img src="https://i.ibb.co/b2G2Vm4/c06bbea9e94b.jpg" alt="clothes"/>
                    <div>
                        <p>Color Block Men Black Track Pants</p>
                        <span>Min 77% Off</span>
                    </div>
                </div>
                <div class="card" id="fifth">
                    <img src="https://i.ibb.co/Rypw1V4/a6723ff70f97.jpg" alt="clothes"/>
                    <div>
                        <p>Color Block Men Black Track Pants</p>
                        <span>Min 77% Off</span>
                    </div>
                </div>
                <div class="card" id="sixth">
                    <img src="https://i.ibb.co/XSP0kds/fd8688442c86.jpg" alt="clothes"/>
                    <div>
                        <p>Color Block Men Black Track Pants</p>
                        <span>Min 77% Off</span>
                    </div>
                </div>
                <div class="card" id="sixth">
                    <img src="https://i.ibb.co/kx58JLq/17b1e3f5773a.jpg" alt="clothes"/>
                    <div>
                        <p>Color Block Men Black Track Pants</p>
                        <span>Min 77% Off</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
